/* CSS for the settings page */

* {
	width: 350px;
	text-align: center;
	transition-duration: 0.2s;
	font-family: 'Titillium Web', sans-serif;
}

h2 {
	font-size:x-large;
	padding-right: 20%;
}

h3 {
	display: -webkit-flex;
	display: inline-flex;
	font-size: large;
	margin-left: 11%;
}

p {
	font-size:1.4em;
}

#container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
}

#settingHeader {
	display: flex;
	margin-top: 10%;
	flex-direction: row;
	justify-content: left;
}

.setting:hover {
	transform: rotate(70deg);
}

li {
	display: flex;
	flex-direction: row;
}

.li {
	display: inline-block;
}

.icon {
	width: 60px;
	float: right;
	margin-top: -20px;
}

#popup {
	display: left;
	align-items: center;
}

#sidebar {
	display: left;
	align-items: center;
}

#sideText {
	margin-left: 12px;
}

#dark {
	display: left;
	align-items: center;
}

#darkBtn {
	background-color: transparent;
	outline:none;
	border: none;
	border-radius: 8px;
	width: fit-content;
	font-size:1.4em;
	margin-left: 26%;
	padding: 5%;
	margin-bottom: 5%;
}

#darkBtn:hover {
	cursor: pointer;
	background-color: rgb(240, 240, 240);
}

/* Dark Mode Functionality */
.dark-mode {
	color: white;
	background-color: rgb(37, 37, 37);
	transition-duration: 0.1s;
}

.dark-mode #darkBtn {
	color: white;
	transition-duration: 0.1s;
}

.dark-mode #darkBtn:hover {
	cursor: pointer;
	background-color: rgb(51, 51, 51);
}

.dark-mode .icon {
	filter: invert(1);
}

.dark-mode .setting {
	filter: invert(1);
}
