/* Styling for popup.html */

* {
	width: 400px;
	transition-duration: 0.2s;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

.header {
	background-color: lightgray;
	width: 400px;
	height: 50px;
	margin-left: -7px;
	margin-top: -8px;
	margin-bottom: 20px;
	padding-top: 8px;
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#logo {
	width: 146px;
	height: 146px;
}

/* Settings button */
#settings-btn {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 15px;
}

/* History button */
#history-btn {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 15px;
}

/* Make settings button rotate on hover */
#settings-btn:hover {
	transform: rotate(70deg);
}

/* Subtly enlarge history button on hover */
#history-btn:hover {
	transform: scale(110%);
}

/* Download controls */
#download-controls {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#input-url {
	width:250px;
	margin-bottom: 10px;
}

#download-btn {
	background-color: whitesmoke;
	outline:none;
	border: none;
	border-radius: 6px;
	width: fit-content;
	font-size:1.4em;
	padding: 3%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 2%;
}

#download-btn:hover {
	cursor: pointer;
	background-color: rgb(228, 228, 228);
}

.footer {
	margin-top: 20px;
}

/* Dark Mode Functionality */
.dark-mode {
	color: white;
	background-color: rgb(37, 37, 37);
	transition-duration: 0.1s;
}

.dark-mode #logo {
	filter: invert(1);
}

.dark-mode #download-btn {
	background-color: rgb(54, 54, 54);
	color: white;
	transition-duration: 0.1s;
}

.dark-mode #download-btn:hover {
	cursor: pointer;
	background-color: rgb(66, 66, 66);
}



